<div class="bg-shapes" aria-hidden="true">
  <div class="bg-shape-wrap bg-shape-wrap-1" data-depth="26">
    <img class="bg-shape bg-shape-1" src="{{ '/images/bg-shape-1.svg' | relative_url }}" alt="" />
  </div>
  <div class="bg-shape-wrap bg-shape-wrap-2" data-depth="20">
    <img class="bg-shape bg-shape-2" src="{{ '/images/bg-shape-2.svg' | relative_url }}" alt="" />
  </div>
  <div class="bg-shape-wrap bg-shape-wrap-3" data-depth="32">
    <img class="bg-shape bg-shape-3" src="{{ '/images/bg-shape-3.svg' | relative_url }}" alt="" />
  </div>
  <div class="bg-shape-wrap bg-shape-wrap-4" data-depth="22">
    <img class="bg-shape bg-shape-4" src="{{ '/images/bg-shape-4.svg' | relative_url }}" alt="" />
  </div>
</div>
