<div class="call">
  <div class="call-box-top">
    {% if site.data.contact.email %}
    <div class="call-email"><strong>Email: </strong>
      <a href="mailto:{{ site.data.contact.email }}">
        {{ site.data.contact.email }}
      </a>
    </div>
    {% endif %}
  </div>
    {% if include.show_button %}
      <div class="call-box-bottom">
        <a href="mailto:{{ site.data.contact.email }}" class="button">Contactar</a>
      </div>
    {% endif %}
    {% if include.show_connect %}
      <div class="call-box-connect">
        {% if include.connect_text %}<p class="call-connect-text">{{ include.connect_text }}</p>{% endif %}
        {% include social.html %}
      </div>
    {% endif %}
</div>
