{% assign lang = page.lang | default: "es" %}
{% assign t = site.data.i18n[lang] %}
<div class="call">
    {% if include.show_connect %}
      <div class="call-box-connect">
        {% if include.connect_text %}<p class="call-connect-text">{{ include.connect_text }}</p>{% endif %}
        {% include social.html %}
        {% if include.show_button %}
          <a href="mailto:{{ site.data.contact.email }}" class="button call-contact-button">{{ t.contact_button }}</a>
        {% endif %}
      </div>
    {% endif %}
</div>
