<div id="main-menu" class="main-menu">
  {% assign menu_key = "main" %}
  {% if page.lang == "en" %}{% assign menu_key = "main_en" %}{% endif %}
  {% assign mainmenu = site.data.menus[menu_key] | sort: 'weight' %}
  <ul>
    {% for item in mainmenu %}
    <li class="{% if item.url == page.url %}active{% endif %}">
      <a href="{{ item.url | relative_url }}">{{ item.name }}</a>
    </li>
    {% endfor %}
    <li class="main-menu-lang">
      {% include lang-switch.html %}
    </li>
  </ul>
</div>
