.call {
  position: relative;
  overflow: hidden;
  background-color: $white-offset;
  border-radius: 4px;
  width: 100%;
  z-index: 2;

  .call-box-connect {
    flex: 1 0 100%;
    padding: 26px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .call-connect-text {
    color: $steel;
    font-size: 14px;
    margin-bottom: 14px;
  }
  .call-contact-button {
    margin-top: 18px;
  }
  .call-name {
    font-size: 1.1rem;
    font-weight: bold;
  }
  .call-phone {
    margin-bottom: 5px;
  }
  strong {
    font-weight: bold;
  }
  svg {
    fill: lighten($secondary, 40%);
    position: absolute;
    bottom: -9px;
    right: 0;
    width: 100px;
    height: 100px;
    @include media-breakpoint-up(sm) {
      width: 120px;
      height: 120px;
    }
  }
}
