---
layout: default
bodyClass: "page-friends"
---

<div class="container pt-6 pt-md-10">
  <div class="row justify-content-start">
    <div class="col-12 col-md-8 reveal">
      <h1 class="title">{{ page.title }}</h1>
      <div class="content">{{ content }}</div>
    </div>
  </div>
</div>

<div class="container pt-4 pb-6 pb-md-10">
  <div class="row reveal-stagger node-map">
    <svg class="node-map-svg" aria-hidden="true">
      <defs>
        <linearGradient id="node-map-gradient" x1="0%" y1="0%" x2="100%" y2="100%">
          <stop offset="0%" stop-color="#e5484d" />
          <stop offset="100%" stop-color="#9d7fea" />
        </linearGradient>
      </defs>
      <path class="node-map-line" d="" />
    </svg>
    {% for friend in site.data.friends %}
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4 reveal node-map-item">
      {% include friend-card.html friend=friend %}
    </div>
    {% endfor %}
  </div>
</div>
