---
layout: default
bodyClass: "page-update-single"
---

<div class="container pb-6 pt-6 pt-md-10 pb-md-10">
  <div class="row justify-content-start">
    <div class="col-12 col-md-8">
      <div class="update update-single">
        <div class="update-meta">
          {% if page.category %}<span class="update-category">{{ page.category }}</span>{% endif %}
          <span class="update-date">{{ page.date | date: "%d %B %Y" }}</span>
        </div>
        <h1 class="title">{{ page.title }}</h1>

        {% if page.video %}
        <div class="video-embed">
          <iframe src="{{ page.video }}" title="{{ page.title }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        {% elsif page.image %}
        <img class="update-cover" alt="{{ page.title }}" src="{{ page.image | relative_url }}" />
        {% endif %}

        <div class="content">{{ content }}</div>
      </div>
    </div>
  </div>
</div>
